.formPage {




    .form {
        text-align: center;
        margin-top: 150px;

        .passwordText {
            text-transform: uppercase;
            font-weight: bolder;

        }

        .passwordInput {
            margin-left: 10px;
            border: 2px solid black;
        }
    }

    .buttonSection {
        display: flex;
        gap: 25px;
        justify-content: center;
        margin-top: 20px;

        .showOrHidePasswordButton {
            .showAndHide {
                height: 30px;
                width: 100px;
                cursor: pointer;
            }
        }

        .clearButton {
            .clear {
                height: 30px;
                width: 100px;
                cursor: pointer;
            }
        }
    }

    .submitButton {
        text-align: center;
        margin-top: 20px;

        .submit {
            height: 30px;
            width: 200px;
            cursor: pointer;
        }
    }

    .result {
        margin-top: 20px;

        text-align: center;

        .weak {
            color: red;
        }

        .moderate {
            color: orange;
        }

        .strong {
            color: green;
        }

        .scoreText {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bolder;
        }
    }
}